:root{
    font-size: 20px;
    font-family: 'larabiefont rg';
    --bg-primary: rgb(36, 36, 36);
    --bg-secondary: rgb(20, 20, 20);
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(207, 207, 207);
}

@fontface{
    font-family: 'larabiefont rg';
    src: url(larabiefont rg.ttf);

body{
    margin: 0;
    background-color: rgb(31, 31, 31);
    min-height: 1200px;
    overflow-x: hidden;
}

.title{
    -webkit-sticky;
    position: sticky;
    padding: 0.1rem;
    top: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    color: var(--text-primary);
    opacity: 0.95;
    background: rgb(0,98,124);
    background: linear-gradient(166deg, rgba(0,98,124,1) 1%, rgba(85,37,144,1) 48%, rgba(159,0,156,1) 100%); 

}

.title-logo{
    max-height: 3rem;
    padding-bottom: 0.2rem;

    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left:30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    70%  { transform: translate(0, 3px); }
    to   { transform: translate(0, 0px); }    
}

.title a{
    max-height: 1rem;
}



.grid-container {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

.grid-main{
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(24, 24, 24);
    color: var(--text-secondary);
    min-height: 1200px;
}

.grid-bg{
    color: white;
    background-color: var(--bg-secondary);
}

.grid-footer{
    height: 2%;
    width: 100%;
    max-width: 100%;
    padding: 0.5rem;
    color: var(--text-secondary);
}

.glow {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    transition: 0.4s;
    z-index: -1;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #009de6, 0 0 30px #00b8e6, 0 0 40px #009de6, 0 0 50px #0092e6, 0 0 60px #00b8e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #4d68ff, 0 0 30px #4d8bff, 0 0 40px #4dcdff, 0 0 50px #4dafff, 0 0 60px #4db8ff, 0 0 70px #4dcdff;
    }
  }

.grid-main:hover .glow {
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 0.8;
    
    @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #009de6, 0 0 30px #00b8e6, 0 0 40px #009de6, 0 0 40px #0092e6, 0 0 40px #00b8e6;
        }
        to {
          text-shadow: 0 0 10px #fff, 0 0 20px #4d68ff, 0 0 30px #4d8bff, 0 0 40px #4dcdff, 0 0 40px #4dafff, 0 0 40px #4db8ff, 0 0 40px #4dcdff;
        }
      }
}





@media screen and (max-width: 1200px) {
    .grid-container{
        grid-template-columns: 10% 80% 10%;
        font-size: 20px;
    }

    .title{
        font-size: 14px;
        padding: 1px;
    }

    .title-logo{
        max-height: 2.3rem;
    }
}

@media screen and (max-width: 800px) {
    .grid-container{
        grid-template-columns: 0% 100% 0%;
        font-size: 16px;
    }

    .grid-main{
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .title{
        font-size: 11px;
        padding: 1px;
    }
    .title-logo{
        max-height: 1.9rem;
    }
}
