
:root{
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    --bg-primary: rgb(24, 24, 24);
    --bg-secondary: rgb(20, 20, 20);
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(207, 207, 207);
}


body{
    margin: 0;
    background-color: rgb(31, 31, 31);
    min-height: 1200px;
    overflow-x: hidden;
}

.title{
    -webkit-sticky;
    position: sticky;
    padding: 0.1rem;
    top: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    color: var(--text-primary);
    opacity: 0.95;
    background: rgb(0,98,124);
    background: linear-gradient(166deg, rgba(0,98,124,1) 1%, rgba(85,37,144,1) 48%, rgba(159,0,156,1) 100%); 
}



.title-logo{
    max-height: 3rem;
    padding-bottom: 0.2rem;

    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left:30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    60%  { transform: translate(0, 3px); }
    to   { transform: translate(0, 0px); }    
}


.title a{
    max-height: 1rem;
}


.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20% ;
    height: 100vh;
}

.grid-main{
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    transition: 0.2s;
}

.grid-bg{
    color: white;
    background-color: var(--bg-secondary);
}

.grid-footer{
    height: 2%;
    padding: 0.5rem;
    width: 100vw;
    color: var(--text-secondary);
}

.title-glow {
    font-size: 2.2rem;
    margin-top: 25px;
    margin-bottom: 16px;
    color: #fff;
    text-align: left;
    transition: 1s;
    z-index: -1;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

.title-medium {
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #fff;
    text-align: left;
    transition: 1s;
    z-index: -1;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}


.grid-main:hover {
    background-color: rgb(27, 27, 27);
}

.grid-main:hover .title-glow{
    text-shadow: 0 0 7px rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    .grid-container{
        grid-template-columns: 10% 80% 10% 100%;
        font-size: 20px;
    }

    .grid-main{
        background-color: var(--bg-primary);
    }

    .title{
        font-size: 14px;
        padding: 1px;
    }

    .title-logo{
        max-height: 2.3rem;
    }

    .title-glow{
        text-shadow: 0 0 6px rgb(255, 255, 255);
    }
}

@media screen and (max-width: 800px) {
    .grid-container{
        grid-template-columns: 0% 100% 0% 100%;
        font-size: 16px;
    }

    .grid-main{
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--bg-primary);
    }
    .title{
        font-size: 11px;
        padding: 1px;
    }
    .title-logo{
        max-height: 1.9rem;
    }
}
