
:root{
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    --bg-primary: rgb(24, 24, 24);
    --bg-secondary: rgb(20, 20, 20);
    --text-primary: rgb(250, 250, 250);
    --text-secondary: rgb(207, 207, 207);
}


body{
    margin: 0;
    background-color: rgb(31, 31, 31);
    min-height: 1200px;
    overflow-x: hidden;
}

.title{
    -webkit-sticky;
    position: sticky;
    padding: 0.1rem;
    top: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    color: var(--text-primary);
    opacity: 0.95;
    background: rgb(0,98,124);
    background: linear-gradient(166deg, rgba(0,98,124,1) 1%, rgba(85,37,144,1) 48%, rgba(159,0,156,1) 100%); 
}



.title-logo{
    max-height: 3rem;
    padding-bottom: 0.2rem;

    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left:30px;
    margin-top: 5px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    60%  { transform: translate(0, 3px); }
    to   { transform: translate(0, 0px); }    
}


.title a{
    max-height: 1rem;
}


.grid-container {
    display: grid;
    grid-template-columns: 25% 50% 25% auto;
}

.grid-main{
    /* padding-top: 0.5rem; */
    padding-top: 0;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    min-height: 1400px;
    transition: 0.2s;
}

.grid-main p{
    padding-left: 2rem;
    padding-right: 2rem;
}

.grid-main b{
    padding-left: 2rem;
    padding-right: 2rem;
}

.grid-bg{
    color: white;
    background-color: var(--bg-secondary);
    padding: 1rem;
}

.grid-bg p{
    padding:0;
}

.grid-footer{
    height: 2%;
    padding: 0.5rem;
    color: var(--text-secondary);
}

.title-glow {
    /* font-family: Share Tech Mono; */
    font-size: 2.2rem;
    margin-top: 25px;
    margin-bottom: 16px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
    text-align: left;
    transition: 1s;
    z-index: -1;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

.title-medium {
    /* font-family: Share Tech Mono; */
    font-size: 1.5rem;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
    text-align: left;
    transition: 1s;
    z-index: -1;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}


.grid-main:hover {
    background-color: rgb(27, 27, 27);
}

.grid-main:hover .title-glow{
    text-shadow: 0 0 3px rgb(255, 255, 255);
}

@media screen and (max-width: 1200px) {
    .grid-container{
        grid-template-columns: 10% 80% 10% 100%;
        font-size: 20px;
    }

    .grid-main{
        background-color: var(--bg-primary);
        font-size: 1rem;
    }

    .title{
        font-size: 14px;
        padding: 1px;
    }

    .title-logo{
        max-height: 2.3rem;
    }

    .title-glow{
        text-shadow: 0 0 6px rgb(255, 255, 255);
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 800px) {
    .grid-container{
        grid-template-columns: 0% 100% 0% 100%;
        font-size: 16px;
    }

    .grid-main{
        padding-top: 0.5rem;
        background-color: var(--bg-primary);
    }
    .title{
        font-size: 11px;
        padding: 1px;
    }
    .title-logo{
        max-height: 1.9rem;
    }
}


.link-button{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: right;
    color: rgb(16, 120, 255);
}


::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(207, 14, 255);
  }
  
  ::selection {
    color: white;
    background: rgb(207, 14, 255);
  }

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0f0f0f; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66); 
  }

  .temp-footer{
    font-size: 0.8rem;
    color: rgb(66, 66, 66);
  }